.navbar-brand.is-flex {
    width:100%;
    margin-top:0.01em;
}

.navbar-start{
    display:flex;
}

.navbar-end{
    display:flex;
    margin-left:auto;
}

.my-background-1 {
    background: url(./desktop-best-fit.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.my-background-2 {
    background: url(./img/polygon-3.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#animated-title {
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
}

/** created by www.github.com/julianjp18 */
.img-profile{
    width: 20%;
    border: .1em solid black;
    border-radius: 31% 69% 70% 30% / 30% 30% 70% 70%;
}

.about-us{
    margin-top: 3em;
    margin-bottom: 3em; 
}

.line-shape{
    width: 10%;
    height: 2px;
    margin-left: calc(49% - 40px);
    background-color: var(--primary-font-color2);
    margin-top: 17px;
    margin-bottom: 25px;
}