.navbar-brand.is-flex {
    width:100%;
    margin-top:0.01em;
}

.navbar-start{
    display:flex;
}

.navbar-end{
    display:flex;
    margin-left:auto;
}

.my-background-1 {
    background: url(/home/shubham/amaanabbasi.github.io/img/thumb-1920-637668.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.my-background-2 {
    background: url(/home/shubham/amaanabbasi.github.io/img/thumb-1920-637668.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#animated-title {
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
}

.hero-body {
		padding-bottom: 0px;
		padding-top: 50px;
}
