.navbar-brand.is-flex {
    width:100%;
    margin-top:0.02em;
}

.navbar-start{
    display:flex;
}

.navbar-end{
    display:flex;
    margin-left:auto;
}
.navbar-brand a.navbar-item {
    -webkit-transition: background-color 0.6s;
    -moz-transition: background-color 0.6s;
    -ms-transition: background-color 0.6s;
    -o-transition: background-color 0.6s;
    transition: background-color 0.6s;
}
.navbar-brand a.navbar-item:hover {
    -webkit-transition: background-color 0.6s;
    -moz-transition: background-color 0.6s;
    -ms-transition: background-color 0.6s;
    -o-transition: background-color 0.6s;
    transition: background-color 0.6s;
    background-color: #ffffff;
    color: #333333;
}

/*.my-background-1 {
    background: url(./desktop-best-fit.svg);
    background-repeat: no-repeat;
    background-position: center;
}*/

.my-background-2 {
    background: url(./img/polygon-3.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#animated-title {
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
}
